@CHARSET "utf-8";
 
 .transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
  animation: flipdown 0.5s ease both;
}

.no-select, h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
  perspective: 900;
  overflow-y: scroll;
  background-color: #dce7eb;
  font-family: "Titillium Web", sans-serif;
  color: rgba(48, 69, 92, 0.8);

}

body {
  min-height: 0;
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 90px 0;
  transform: translate(-50%, 0);
  box-shadow: 0 10px 0 0 #ff6873 inset;
  background-color: #fefffa;
  max-width: 600px;
  padding: 30px;
  overflow: hidden;
  word-wrap: break-word; 
  
}
@media (max-width: 600px) {
  body {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;

    
  }
}


h2 {
  color: #ff6873;
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  background-color: #fefffa;
  margin: 0;
  cursor: pointer;
}

ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;

}


@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.search_bar {
font-family: "Montserrat", sans-serif;
width: 18.7em;
height: 1.1em;
border: 0.1em solid #ccc;
border-radius: 0.5em;
background-color: #F2F2F2;
padding: 0em 1em;
font-size: 1.2em;
box-shadow: 0.05em 0.05em 0.05em #ccc;
}

